/**
 * style.css
 *
 * Defines the styling for elements in progProject.html
 *
 * Sources:
 *  https://www.w3schools.com/howto/howto_js_rangeslider.asp
 *    for styling on the slider.
 *  https://www.w3schools.com/howto/howto_js_dropdown.asp
 *    for styling on the dropdown menu.
 *
 * Author: Xander Locsin
 * StudentID: 10722432
 */



/* ------------------------ PAGE LAYOUT ------------------------------------- */
body {
  background-color: #F2F2F2;
  font-family: sans-serif;
}

.container {
  background-color: white;
  margin: 10px;
  float: left;
}

.boxHeader {
  background-color: #FF6A00;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.boxContent {
  padding: 20px;
}

.bottomHeader {
  background-color: #303030;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color:white;
}

#leftSide {
  float: left;
  width: 75%;
  min-width: 970px;
}

#rightSide {
  float: left;
  width: calc(25% - 40px);
  min-width: 250px;
}

#infoBox {
  width: 100%;
}

#infoBoxText {
  font: 12px sans-serif;
  line-height: 1.3;
}

#yearText {
  background-color: white;
  padding: 1px;
  color: black;
}

#mapContainer {
  float: left;
  width: calc(100% - 20px);
  min-width: 950px;
  height: 450px;
}

#sliderBox {
  width: calc(100% - 20px);
  min-width: 950px;
  float: left;
}

#worldMap {
  position: relative;
  float: left;
}

#barContainer {
  float: left;
  width: calc(100% - 20px);
  min-width: 680px;
  height: 420px;
}

#scatterContainer {
  float: left;
  width: calc(75% - 20px);
  min-width: 620px;
  height: 430px;
}

#countryAndSector {
  float: left;
  width: calc(25% - 20px);
  height: 430px;
}

#countryAndSectorContent {
  font: 13px sans-serif;
}

#topTitle {
  width: calc(100% - 20px);
  height: 50px;
}


/* ------------------------ CHART TOOLTIPS ---------------------------------- */

.chartToolTip {
  line-height: 3;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.chartToolTipText {
  text-align: center;
  font: 10px sans-serif;
}

.tipTitle {
  font-weight: bold;
}


/* ------------------------ SLIDER ------------------------------------------ */
/* Copied from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
  padding: 10px;
  height: 30px;
  width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    border: 2px inset;
    appearance: none;
    width: 90%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    border: 2px outset;
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #303030;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #303030;
    cursor: pointer; /* Cursor on hover */
}

/* ------------------------ REMOVE COUNTRY DROPDOWN ------------------------- */
/* From: https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* ------------------------ WORLD MAP --------------------------------------- */
#worldMap {
  width: 800px;
  height: 350px;
}

#mapLegendSVG {
  width: 80px;
  height: 250px;
  float: left;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* ------------------------ SCATTERPLOT ------------------------------------- */
.legendBox {
  width: 10px;
  height: 10px;
  border: 1px solid;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

.scatterDotCircle {
  fill: black;
}

.scatterDotCircle:hover {
  stroke: black;
  fill: red;
}




/* ------------------------ BARCHART ---------------------------------------- */

.barAxis path,
.barAxis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.barAxis text {
  text-anchor: end;
  font: 11px sans-serif;
}

#barXAxis text{
  font: 8px sans-serif;
  transform: rotate(25deg);
  text-anchor: start;
}

.barRect:hover {
  stroke: black;
}
