/* ------------------------ PAGE LAYOUT ------------------------------------- */
body {
  background-color: #F2F2F2;
}

.container {
  background-color: white;
  margin: 10px;
}

#infoBox {
  float: left;
  width: 300px;
  height: 100%;
}

#visualisations {
  width: 1000px;
  height: 900px;
}

#mapContainer {
  float: left;
  width: 880px;
  height: 430px;
}

#worldMap {
  position: relative;
}

#bottom {
  width: 100%;
  height: 450px;
}

#bottomLeft {
  float: left;
  width: 810px;
}

#countryAndSector {
  width: 180px
}

.boxHeader {
  background-color: #FF6A00;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color:white;
}

.boxContent {
  padding: 20px;
}

#bottomBody {
  width: 100%;
  height: 200px;
}

#bottomHeader {
  background-color: #303030;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color:white;
}

/* ------------------------ SLIDER ------------------------------------------ */
/* Copied from https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slidecontainer {
    height: 50px;
    width: 100%;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%;
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/* ------------------------ REMOVE COUNTRY DROPDOWN ------------------------- */
/* From: https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* ------------------------ WORLD MAP --------------------------------------- */
#worldMap {
  width: 800px;
  height: 350px;"
}

/* ------------------------ SCATTERPLOT ------------------------------------- */
.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: middle;
}

/*From: http://bl.ocks.org/Caged/6476579*/
.scatter_dot {
  stroke: black;
  stroke-width: 1;
}

.d3-tip {
  line-height: 3;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.d3-tip {
  line-height: 3;
  padding: 5px;
}

.tip{
  font: 10px sans-serif;
}

.tip-title {
  font: 14px sans-serif;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


/* ------------------------ BARCHART ---------------------------------------- */

.barAxis path,
.barAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.barAxis text {
  font: 11px sans-serif;
}
